html{
    scroll-behavior: smooth;
}
.about, .services, .skills, .teams, .contact, footer{
    font-family: 'Poppins';
}
.about .title::after{
    content: "Who I am";
} 
.left img{
    width: 400px;
    height: 400px;
    object-fit: cover;
    border-radius: 6px;
}
.about .about-content, 
.services .serv-content,
.skills .skills-content,
.contact .contact-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.about .about-content .right{
    width: 55%;
}
.about .about-content .right .text{
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;
}
.about .about-content .right .text span{
    color: crimson;
}
.about .about-content .right p{
    text-align: justify;
}
.about .about-content .right a{
    display: inline-block;
    background: crimson;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    padding: 10px 30px;
    margin-top: 20px;
    border-radius: 7px;
    border: 2px solid crimson;
    transition: all 0.3s ease;
}
.about .about-content .right a:hover{
    color: crimson;
    background: none;
}
/* All similar content styling code */
section{
    padding: 100px 0;
}
section .title{
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 60px;
    padding-bottom: 20px;
    font-family: 'Ubuntu';
}
section .title::before{
    content: "";
    position: absolute;
    width: 180px;
    height: 4px;
    background: #111;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
}
section .title::after{
    position: absolute;
    background: #fff;
    bottom: -12px;
    left: 50%;
    font-size: 20px;
    color: crimson;
    padding: 5px;
    transform: translateX(-50%);
}